
body {
  background-color: #d0e4fe;
  text-align: center;
}

h1 {
  font-family: 'Arial', cursive;
  color: orange;
}

p {
  font-family: "Arial";
  font-size: 30px;
}

#submit-image img {
  width: auto;
  height: 100px;
  margin-top: 20px;
}

.btn-login {
	margin-top: 20px;
}
