<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <button class="btn-login" type="button" onclick="loginButton()">
  <h1 id="post-title">
    Form Title
  </h1>

  <p id="post-body">
    Form Body
  </p>

  <button class="btn-default" type="button" onclick="clickButton()">
    Submit Form
  </button>

  <div id="submit-image"/>

</body>

</html>